footer 
    .footer 
        .footer-item 
            a(href="#")
                img(src="images/logo.svg", alt="Logo")
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Voice over and Subtitle
                li.footer-list__item 
                    a(href="#").footer-list__link Media Center 
                li.footer-list__item 
                    a(href="#").footer-list__link Privacy
                li.footer-list__item 
                    a(href="#").footer-list__link Contact us
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Voice over and Subtitle
                li.footer-list__item 
                    a(href="#").footer-list__link Investor Relations
                li.footer-list__item 
                    a(href="#").footer-list__link Legal Provisions
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Help Center
                li.footer-list__item 
                    a(href="#").footer-list__link Job Opportunities
                li.footer-list__item 
                    a(href="#").footer-list__link Cookies Preferences
        .footer-item 
            ul.footer-list 
                li.footer-list__item 
                    a(href="#").footer-list__link Gift Cards
                li.footer-list__item 
                    a(href="#").footer-list__link Terms of Use 
                li.footer-list__item 
                    a(href="#").footer-list__link Corporate Informations