@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;600;700;800&display=swap");
html {
  font-size: 10px;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

button:focus {
  outline: none;
}

.container {
  max-width: 144rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 144rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .header-logo__img {
    max-width: 120px;
  }
}

@media (max-width: 600px) {
  .header-logo__img {
    max-width: 105px;
  }
}

@media (max-width: 690px) {
  nav {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
}

.nav-item {
  margin: 0 2.5rem;
}

@media (max-width: 1000px) {
  .nav-item {
    margin: 0 1.8rem;
  }
}

.nav-link {
  text-decoration: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.2s ease color;
  transition: 0.2s ease color;
}

.nav-link:hover {
  color: white;
}

.nav-link::after {
  content: '';
  opacity: 0;
  display: block;
  width: 100%;
  height: .2rem;
  margin-top: .5rem;
  border-radius: 5rem;
  background: #326cff;
  background: linear-gradient(151deg, #326cff 0%, #26fff2 100%);
}

.nav-link.active {
  color: white;
}

.nav-link.active::after {
  opacity: 1;
}

.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 0;
}

@media (max-width: 360px) {
  .control {
    display: none;
  }
}

.control-item {
  margin-left: 7.5rem;
}

@media (max-width: 1000px) {
  .control-item {
    margin-left: 4rem;
  }
}

@media (max-width: 600px) {
  .control-item {
    margin-left: 3rem;
  }
}

.control-item:first-child {
  margin-left: 0;
}

.control-btn {
  background-color: transparent;
  border: none;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.control-btn_search {
  background-image: url(images/search.svg);
  width: 1.8rem;
  height: 1.8rem;
}

.control-btn_notice {
  background-image: url(images/notice.svg);
  width: 2.13rem;
  height: 2.35rem;
}

.control-btn_account {
  background-image: url(images/account.svg);
  width: 1.8rem;
  height: 1.92rem;
}

.burger {
  display: none;
  background-color: transparent;
  border: none;
  width: 50px;
}

@media (max-width: 690px) {
  .burger {
    display: block;
  }
}

@media (max-width: 600px) {
  .burger {
    width: 46px;
  }
}

.burger__item {
  display: block;
  width: 100%;
  height: 4px;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

@media (max-width: 600px) {
  .burger__item {
    height: 2px;
  }
}

.burger__item:last-child {
  margin-bottom: 0;
}

.section {
  padding-top: 5rem;
}

.section__h2 {
  font-size: 2.8rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 3rem;
  position: relative;
  font-weight: 700;
  display: inline-block;
}

@media (max-width: 768px) {
  .section__h2 {
    font-size: 2.2rem;
  }
}

.section__h2::before {
  content: '';
  display: block;
  width: .8rem;
  height: 3.5rem;
  border-radius: 5rem;
  background: #326cff;
  background: linear-gradient(151deg, #326cff 0%, #26fff2 100%);
  position: absolute;
  left: 0;
  top: calc(50% - 1.7rem);
}

.section__h2::after {
  content: '';
  display: block;
  width: .9rem;
  height: 1.5rem;
  background-image: url(images/title-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: calc(50% - .7rem);
}

.section__h2-link {
  color: #fff;
  text-decoration: none;
}

.section__btn {
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  cursor: pointer;
  background: #326cff;
  background: linear-gradient(151deg, #326cff 0%, #26fff2 100%);
  color: #fff;
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  -webkit-transition: .2s ease box-shadow;
  transition: .2s ease box-shadow;
  margin-top: 5.5rem;
}

@media (max-width: 600px) {
  .section__btn {
    margin-top: 2rem;
  }
}

.section__btn:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
}

.section-banner {
  border-bottom: .1rem solid #2F2E2E;
  position: relative;
  overflow: hidden;
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

@media (max-width: 1000px) {
  .section-banner {
    background-image: url(images/banner-min.png);
    background-position: center center;
    background-size: cover;
  }
}

@media (max-width: 1000px) {
  .section-banner .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.banner {
  max-width: 56.2rem;
  padding-top: 12.2rem;
  padding-bottom: 20.3rem;
  background-color: #000;
  -webkit-box-shadow: 100px 0px 100px #000;
          box-shadow: 100px 0px 100px #000;
}

@media (max-width: 1200px) {
  .banner {
    padding-top: 7rem;
    padding-bottom: 12rem;
  }
}

@media (max-width: 1000px) {
  .banner {
    max-width: 100%;
    background-color: transparent;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 768px) {
  .banner {
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
}

.banner__title {
  font-family: 'Marcellus', serif;
  font-size: 8rem;
  line-height: 7.5rem;
}

@media (max-width: 768px) {
  .banner__title {
    font-size: 6rem;
    line-height: 1.1;
  }
}

@media (max-width: 600px) {
  .banner__title {
    font-size: 4rem;
  }
}

.banner__text {
  color: #C2C2C2;
  font-size: 1.8rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .banner__text {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .banner__text {
    font-size: 1.4rem;
  }
}

.banner-info {
  font-weight: 800;
  margin-bottom: 2.9rem;
}

.banner-info__year {
  margin-right: 1.8rem;
}

.banner-info__age {
  margin-right: 1.8rem;
  position: relative;
  width: 6rem;
  display: inline-block;
  text-align: center;
}

.banner-info__age::before {
  content: '';
  display: block;
  width: 100%;
  height: 2.4rem;
  background-image: url(images/age.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: calc(50% - 1.2rem);
  left: 0;
  right: 0;
}

.banner-info__time {
  margin-right: 6.1rem;
}

@media (max-width: 600px) {
  .banner-info__time {
    margin-right: 2.3rem;
  }
}

.banner-info__rating {
  position: relative;
}

.banner-info__rating::after {
  content: '';
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(images/star.svg);
  margin-left: 1rem;
  position: absolute;
  top: 0;
  right: -2.6rem;
}

.banner-control {
  margin-top: 3.1rem;
}

@media (max-width: 400px) {
  .banner-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner-control__btn {
  background-color: transparent;
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  cursor: pointer;
}

.banner-control__btn-main {
  background: #326cff;
  background: linear-gradient(151deg, #326cff 0%, #26fff2 100%);
  color: #fff;
  position: relative;
  padding-left: 6rem;
  margin-right: 3rem;
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  -webkit-transition: .2s ease box-shadow;
  transition: .2s ease box-shadow;
}

@media (max-width: 768px) {
  .banner-control__btn-main {
    margin-right: 1.5rem;
  }
}

@media (max-width: 400px) {
  .banner-control__btn-main {
    margin-right: 0;
    margin-bottom: 2rem;
    padding-left: 3rem;
  }
}

.banner-control__btn-main:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
}

.banner-control__btn-main::after {
  content: '';
  display: block;
  width: 1.4rem;
  height: 1.8rem;
  background-image: url(images/play.svg);
  position: absolute;
  left: 3rem;
  top: calc(50% - .9rem);
}

@media (max-width: 400px) {
  .banner-control__btn-main::after {
    display: none;
  }
}

.banner-control__btn-more {
  background-color: #fff;
  color: #323232;
  -webkit-transition: .2s ease background-color;
  transition: .2s ease background-color;
}

.banner-control__btn-more:hover {
  background-color: #eee;
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.1rem;
}

@media (max-width: 1000px) {
  .movies {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.movies-item {
  -webkit-box-shadow: 0px 0px 20px rgba(44, 176, 249, 0);
          box-shadow: 0px 0px 20px rgba(44, 176, 249, 0);
  -webkit-transition: .2s ease box-shadow;
  transition: .2s ease box-shadow;
  border-radius: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
}

@media (max-width: 1000px) {
  .movies-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    margin-bottom: 4rem;
  }
}

@media (max-width: 500px) {
  .movies-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    margin-bottom: 2rem;
  }
}

.movies-item:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
          box-shadow: 0px 0px 20px rgba(44, 176, 249, 0.5);
}

@media (max-width: 1000px) {
  .movies-item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.movies__link {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 30.9rem;
  display: block;
  border-radius: 2rem;
}

@media (max-width: 1200px) {
  .movies__link {
    height: 22rem;
  }
}

@media (max-width: 1000px) {
  .movies__link {
    height: 31rem;
  }
}

@media (max-width: 600px) {
  .movies__link {
    height: 22rem;
  }
}

.movies__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-top: 2.1rem;
}

@media (max-width: 1000px) {
  .genres {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.genres-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.7%;
          flex: 0 0 23.7%;
  border-radius: 2rem;
  padding: 4.8rem 1rem 3.8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2.7rem;
}

@media (max-width: 1000px) {
  .genres-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
  }
}

@media (max-width: 768px) {
  .genres-item {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 600px) {
  .genres-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48.5%;
            flex: 0 0 48.5%;
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 400px) {
  .genres-item {
    padding: 2.8rem 1rem 1.8rem;
  }
}

.genres-item_romance {
  background: linear-gradient(109.31deg, #FD093F 2.4%, #F383F1 100%);
}

.genres-item_drama {
  background: linear-gradient(114.5deg, #0FFFDA 2.22%, #3CDB77 68.84%);
}

.genres-item_historical {
  background: linear-gradient(109.31deg, #B936FF 2.4%, #57DEDA 100%);
}

.genres-item_action {
  background: linear-gradient(109.31deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
}

@media (max-width: 1000px) {
  .genres-item_action {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }
}

.genres-item_sci-fi {
  background: linear-gradient(109.31deg, #FF6472 2.4%, #FDA75D 100%);
}

@media (max-width: 1000px) {
  .genres-item_sci-fi {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }
}

.genres-item_horror {
  background: linear-gradient(110.16deg, #13547A 2.37%, #80D0C7 96.77%);
}

.genres-item_comedy {
  background: linear-gradient(109.93deg, #FFF77B 2.37%, #FFBF42 50%);
}

.genres-item_documentary {
  background: linear-gradient(109.31deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
}

.genres-icon {
  height: 8rem;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .genres-icon {
    height: 6rem;
  }
}

@media (max-width: 400px) {
  .genres-icon {
    height: 5rem;
  }
}

.genres__image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .genres__image {
    height: 100%;
  }
}

.genres__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin: .2rem 0 0 0;
}

@media (max-width: 768px) {
  .genres__title {
    font-size: 2rem;
    margin: .5rem 0 0 0;
  }
}

@media (max-width: 400px) {
  .genres__title {
    font-size: 1.6rem;
  }
}

.actors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 2.1rem;
}

@media (max-width: 1200px) {
  .actors {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.actors-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
}

@media (max-width: 1200px) {
  .actors-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
            flex: 0 0 32%;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .actors-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }
}

.actors__link {
  overflow: hidden;
  position: relative;
  width: 18rem;
  height: 18rem;
  display: block;
  border-radius: 100%;
}

@media (max-width: 1200px) {
  .actors__link {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .actors__link {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 400px) {
  .actors__link {
    width: 10rem;
    height: 10rem;
  }
}

.actors__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 18rem;
  height: 18rem;
}

@media (max-width: 768px) {
  .actors__img {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 400px) {
  .actors__img {
    width: 10rem;
    height: 10rem;
  }
}

.marketing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 2.1rem;
}

@media (max-width: 1000px) {
  .marketing {
    display: none;
  }
}

.marketing-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  border-radius: 2rem;
}

.marketing-item:first-child .marketing__link {
  border-radius: 2rem 0 0 2rem;
}

.marketing-item:last-child .marketing__link {
  border-radius: 0 2rem 2rem 0;
}

.marketing__link {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 34.1rem;
  display: block;
}

.marketing__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.offer {
  max-width: 122.4rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(images/offer-bg.png);
  padding: 7.2rem 14.7rem 7.2rem 5.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  margin-top: 7rem;
  margin-bottom: 12.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1200px) {
  .offer {
    padding: 7.2rem 5.7rem;
  }
}

@media (max-width: 1000px) {
  .offer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .offer {
    padding: 4rem 3rem;
    margin-top: 0;
    margin-bottom: 7rem;
  }
}

.offer__title {
  font-size: 6.4rem;
  font-weight: 700;
  max-width: 80rem;
  margin: 0;
  line-height: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 2rem;
}

@media (max-width: 1200px) {
  .offer__title {
    font-size: 5.4rem;
    margin-right: 12rem;
  }
}

@media (max-width: 1000px) {
  .offer__title {
    font-size: 4.4rem;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .offer__title {
    font-size: 3.4rem;
  }
}

@media (max-width: 600px) {
  .offer__title {
    font-size: 2.4rem;
  }
}

.offer__btn {
  border: none;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  cursor: pointer;
  background: #326cff;
  background: linear-gradient(151deg, #326cff 0%, #26fff2 100%);
  color: #fff;
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  -webkit-transition: .2s ease box-shadow;
  transition: .2s ease box-shadow;
}

.offer__btn:hover {
  -webkit-box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
}

footer {
  background-color: #101012;
  padding: 7rem 0 5rem;
}

@media (max-width: 768px) {
  footer {
    padding: 5rem 0 3rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 144rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
        grid-template-areas: 'logo a b' 'logo c d';
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 1000px) {
  .footer {
    -ms-grid-columns: 200px 1fr 1fr;
        grid-template-columns: 200px 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'logo logo' 'a b' 'c d';
  }
}

@media (max-width: 768px) {
  .footer-logo__img {
    margin-bottom: 2rem;
    max-width: 120px;
  }
}

@media (max-width: 600px) {
  .footer-logo__img {
    max-width: 105px;
  }
}

.footer-item:nth-child(1) {
  grid-area: logo;
}

.footer-item:nth-child(2) {
  grid-area: a;
}

.footer-item:nth-child(3) {
  grid-area: b;
}

.footer-item:nth-child(4) {
  grid-area: c;
}

.footer-item:nth-child(5) {
  grid-area: d;
}

.footer-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer-list__item {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .footer-list__item {
    margin-bottom: 1.6rem;
  }
}

.footer-list__link {
  font-size: 1.8rem;
  color: #C2C2C2;
  text-decoration: none;
  font-weight: 600;
}

@media (max-width: 768px) {
  .footer-list__link {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

@media (max-width: 500px) {
  .footer-list__link {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=style.css.map */