- var pageTitle = 'Online TV'

doctype html
html(lang="en")
  head
    title= pageTitle
    style 
      include styles/normilize.css
      include styles/style.css
  body
    include modules/header

    section.section-banner
      .container
        .banner
          h1.banner__title Zack Snyder's Justice&nbsp;League
          .banner-info 
            span.banner-info__year 2021
            span.banner-info__age 18+
            span.banner-info__time 4h 2min
            span.banner-info__rating 8.8
          p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
          .banner-control
            button.banner-control__btn.banner-control__btn-main Watch
            button.banner-control__btn.banner-control__btn-more More information
    section.section
      .container
        h2.section__h2 
          a(href="#").section__h2-link Trending TV Shows
        .movies 
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster01.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster02.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster03.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster04.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster05.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster06.png", alt="").movies__img
    section.section
      .container
        h2.section__h2 
          a(href="#").section__h2-link Trending Movies
        .movies 
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster01.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster02.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster03.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster04.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster05.png", alt="").movies__img
          .movies-item 
            a(href="#").movies__link
              img(src="../src/images/posters/poster06.png", alt="").movies__img
        button.section__btn See more
    section.section
      .container
        h2.section__h2 
          a(href="#").section__h2-link Popular Genres
        .genres
          .genres-item.genres-item_romance
            .genres-icon
              img(src="../src/images/genres/romance.svg", alt="").genres__image
            h3.genres__title Romance
          .genres-item.genres-item_drama
            .genres-icon
              img(src="../src/images/genres/drama.svg", alt="").genres__image
            h3.genres__title Drama
          .genres-item.genres-item_historical
            .genres-icon
              img(src="../src/images/genres/historical.svg", alt="").genres__image
            h3.genres__title Historical
          .genres-item.genres-item_action
            .genres-icon
              img(src="../src/images/genres/action.svg", alt="").genres__image
            h3.genres__title Action
          .genres-item.genres-item_sci-fi
            .genres-icon
              img(src="../src/images/genres/sci-fi.svg", alt="").genres__image
            h3.genres__title Sci-fi
          .genres-item.genres-item_horror
            .genres-icon
              img(src="../src/images/genres/horror.svg", alt="").genres__image
            h3.genres__title Horror
          .genres-item.genres-item_comedy
            .genres-icon
              img(src="../src/images/genres/comedy.svg", alt="").genres__image
            h3.genres__title Comedy
          .genres-item.genres-item_documentary
            .genres-icon
              img(src="../src/images/genres/documentary.svg", alt="").genres__image
            h3.genres__title Documentary
    section.section
      .container
        h2.section__h2 
          a(href="#").section__h2-link Popular Actors & Directors
        .actors
          .actors-item 
            a(href="#").actors__link
              img(src="../src/images/actor/actor01.png", alt="").actors__img
            h3.actors__title Samantha Bowen
          .actors-item 
            a(href="#").actors__link
              img(src="../src/images/actor/actor01.png", alt="").actors__img
            h3.actors__title Samantha Bowen
          .actors-item 
            a(href="#").actors__link
              img(src="../src/images/actor/actor01.png", alt="").actors__img
            h3.actors__title Samantha Bowen
          .actors-item 
            a(href="#").actors__link
              img(src="../src/images/actor/actor01.png", alt="").actors__img
            h3.actors__title Samantha Bowen
          .actors-item 
            a(href="#").actors__link
              img(src="../src/images/actor/actor01.png", alt="").actors__img
            h3.actors__title Samantha Bowen
          .actors-item 
            a(href="#").actors__link
              img(src="../src/images/actor/actor01.png", alt="").actors__img
            h3.actors__title Samantha Bowen
    section.section
      .container
        .marketing 
          .marketing-item 
            a(href="").marketing__link
              img(src="../src/images/marketing/marketing01.png", alt="").marketing__img
          .marketing-item 
            a(href="").marketing__link
              img(src="../src/images/marketing/marketing02.png", alt="").marketing__img
    section.section
      .container
        .offer 
          h2.offer__title Are You New Here&nbsp;? Don’t&nbsp;wait, Register&nbsp;Now. 
          button.offer__btn Register

    include modules/footer